*,
html,
body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: "IBM Plex Sans Arabic";
	background-color: #eaeded;
}

.borderSubscribeInput {
	box-sizing: border-box;
	background-clip: padding-box;
	border: solid 3px transparent;
	border-radius: 20px;
}
.borderSubscribeInput:before {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -1;
	margin: -3px;
	border-radius: inherit;
	background: linear-gradient(270deg, #0090ec 0%, #31e716 100%);
}
.mui-style-i9fmh8-MuiBackdrop-root-MuiModal-backdrop {
	background-color: transparent !important;
}

/* Navbar */
.navigation-menu {
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: center;
	 
}
.navigation-menu li {
	margin: 0px 20px;
}
.navigation-menu li a {
	text-decoration: none;
	color: #343132;
}

/* mobile view */
.mobile-navigation {
	list-style: none;
}
.mobile-navigation li {
	margin-top: 20px;
}
.mobile-navigation li a {
	text-decoration: none;
	font-size: 1.4rem;
	color: black;
}
/*  */
/* Swiper Slider */
.swiper-3d {
	/* perspective: 307px !important; */
	perspective: 468px !important;
}
.swiper_container {
	position: relative;
	max-width: 100%;
}
.swiper,
swiper-container {
	overflow: inherit !important;
}
.SliderMobile {
	display: none;
}
.swiper-pagination {
	position: absolute;
	text-align: center;
	transition: 0.3s opacity;
	transform: translate3d(0, 0, 0);
	z-index: 99999999;
	bottom: -3.3rem !important;
	font-size: 32px;
	font-weight: 500;
	/* margin:2rem auto */
}
/*  */
.col {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
	background: radial-gradient(
		19.29% 37.23% at var(--x) var(--y),
		#7ee787 0%,
		rgba(49, 231, 22, 0.012) 100%
	);
}
.text {
	background: radial-gradient(
		19.29% 37.23% at var(--x) var(--y),
		#7ee787 0%,
		rgba(49, 231, 22, 0.012) 100%
	);
}

.PageMobile {
	display: none;
}
/* Illustration */
.IllustrationMobile {
	display: none;
}
.IllustrationTablet {
	display: none;
}
.IllustrationDesktop {
	display: block;
}
.illustrationArrowsright {
	display: none;
}
/* animation cursor */

.cursor {
	position: relative;
}

.cursor .i {
	position: absolute;
	width: 5px;
	height: 80%;
	background-color: #000;
	left: 5px;
	top: 10%;
	animation-name: blink;
	animation-duration: 800ms;
	animation-iteration-count: infinite;
	opacity: 1;
}

.cursor .l:focus + .i {
	display: none;
}

@keyframes blink {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

/*  */
@media screen and (max-width: 1535px) {
	.IllustrationDesktop {
		display: none;
	}
	.IllustrationTablet {
		display: block;
	}
}
@media screen and (max-width: 1401px) {
	.sliderArrowsOne {
		right: 53rem;
	}
}
@media screen and (max-width: 1330px) {
	.sliderArrowsOne {
		right: 50rem;
	}
}
@media screen and (max-width: 1230px) {
	.SliderDesktop {
		display: none;
	}
	.SliderMobile {
		display: block;
	}
}
@media screen and (max-width: 1319px) {
	.PageMobile {
		display: block;
	}
	.PageDesktop {
		display: none;
	}
}
@media screen and (max-width: 1145px) {
	.illustrationArrowsright {
		display: block;
	}
	.illustrationArrowsUp {
		display: none;
	}
}
@media screen and (max-width: 893px) {
	.IllustrationMobile {
		display: block;
	}
	.IllustrationTablet {
		display: none;
	}
}
@media screen and (max-width: 899px) {
	.ImageMobile {
		position: absolute !important;
		top: -48rem !important;
	}
}
@media screen and (max-width: 700px) {
	.ExampleBoxThreePic {
		bottom: 0rem;
		right: -6rem;
		height: 100%;
	}
	.ExampleBoxThreeText {
		bottom: 3rem;
		left: 3rem;
	}
	.ExampleBoxTwo {
		top: -11rem;
	}

	.ExampleThreeBox {
		top: -20rem;
	}
}
@media screen and (max-width: 600px) {
	.ImageMobile {
		position: absolute !important;
		top: -60rem !important;
	}

	.ExampleBoxThreePic {
		bottom: 0rem;
		right: -6rem;
		height: 100%;
		width: 100%;
	}
}
@media screen and (max-width: 500px) {
	.illustrationArrowLeftDown {
		top: -8rem !important;
		left: -4rem !important;
	}
	.illustrationBg {
		top: 0rem !important;
	}

	.ImageMobile {
		position: absolute !important;
		top: -45rem !important;
	}
	.cursor .i {
		height: 50% !important;
		top: 25% !important;
	}
	.myClassName {
		gap: 5px;
	}
	.ExampleBoxTwo {
		top: 0rem;
	}
	.ExampleThreeBox {
		top: 0rem;
	}
	.ExampleBoxTwoText {
		top: 0;
		margin-top: 0;
	}
}
@media screen and (max-width: 427px) {
	.illustrationBg {
		top: 3rem !important;
	}
	.illustrationArrowLeftDown {
		top: -6.5rem !important;
		left: -3rem !important;
	}
}
@media screen and (max-width: 410px) {
	.BoxInputHome {
		width: 70%;
	}
	.BoxTextHome {
		margin-bottom: 0rem;
	}
	.mui-style-1qny777-MuiInputBase-root-MuiOutlinedInput-root {
		margin: 0;
	}
	.mui-style-k6t3iv {
		width: 100%;
		height: 127px;
		-webkit-box-pack: space-evenly;
		-ms-flex-pack: space-evenly;
		-webkit-justify-content: space-evenly;
		justify-content: center;
	}
	.TextViewOnWebsite {
		height: 100% !important;
	}
	.ImageMobile {
		position: absolute !important;
		top: -43rem !important;
	}
	.swiper-pagination {
		bottom: -2.4rem !important;
		font-size: 22px;
	}
}
@media screen and (max-width: 333px) {
	.TextViewOnWebsite {
		height: 100% !important;
		margin-top: -1rem;
	}
	.Textredirected {
		font-size: 28px;
	}
}
@media screen and (max-width: 300px) {
	.ImagePlay {
		width: 40px !important;
		height: 40px !important;
	}
	.TextViewOnWebsite {
		height: 100% !important;
		margin-top: -1.5rem;
	}
	.TextViewOnWebsite p {
		font-size: 15px !important;
	}
	.Textredirected {
		font-size: 23px;
	}
	.boxHomeBlack {
		height: 95px !important;
	}
	.ExampleBoxOnePlace,
	.ExampleBoxTwoText {
		margin: 0 !important;
	}
	.ExampleBoxTwo {
		top: 0 !important;
	}
	.ExampleBoxTwoPic {
		height: auto !important;
		right: -4rem !important;
		width: 100% !important;
	}
	.ExampleBoxThreePic {
		bottom: -4rem;
		right: -6rem;
		height: 100%;
		width: 100%;
	}
	.ExampleBoxThreeText {
		bottom: 3rem;
		left: 3rem;
	}
}

.otp-input.MuiOtpInput-TextField {
	border-radius: 50%;
	background-color: #0090ec;
}
