NODE_ENV=development
APP_PORT=4000
APP_NAME="View on Website"
API_PREFIX=api
APP_FALLBACK_LANGUAGE=en
APP_HEADER_LANGUAGE=x-custom-lang
FRONTEND_DOMAIN=http://localhost:3000
BACKEND_DOMAIN=http://localhost:4000

DATABASE_TYPE=postgres
DATABASE_HOST=postgres
DATABASE_PORT=5432
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=12345
DATABASE_NAME=vow_dev_db
DATABASE_SYNCHRONIZE=false
DATABASE_MAX_CONNECTIONS=100
DATABASE_SSL_ENABLED=false
DATABASE_REJECT_UNAUTHORIZED=false
DATABASE_CA=
DATABASE_KEY=
DATABASE_CERT=

# Support "local", "s3"
FILE_DRIVER=local
ACCESS_KEY_ID=
SECRET_ACCESS_KEY=
AWS_S3_REGION=
AWS_DEFAULT_S3_BUCKET=

MAIL_HOST=maildev
MAIL_PORT=1025
MAIL_USER=
MAIL_PASSWORD=
MAIL_IGNORE_TLS=true
MAIL_SECURE=false
MAIL_REQUIRE_TLS=false
MAIL_DEFAULT_EMAIL=noreply@example.com
MAIL_DEFAULT_NAME=Api
MAIL_CLIENT_PORT=1080

AUTH_JWT_SECRET=cGZ9L4qSjMMmGgDkJr+1v/LxNw8G94eCewU9dmBsPowOiSeJf3O4zo8fgZp0wq57UrOuzQ7tu+hhDSf4bBrdtqc85xkt/ASHBGAJBoyv78qyCrcEQ/NeT70ZSkPU+l6KW2o+1docfKXH935Q4pDcztEh1Dvm+Wp5TZf59YfC3wJ7pOoQ7dGU1X066BoeIi0pCvc0rmq7tV2mWgCs4PCgLZNqo21lUYyoWmssGK2VNj1gST8rw8LaWCeTei0dTbV+F+LdwrLPuD8bVt0VMrBIsDlCVNHAdLhMKAitrvzsIomJNy48e1lWELYlVYCRyq0+bOOdJMXyCVhrsRTCj5m1jw==
AUTH_JWT_TOKEN_EXPIRES_IN=365d

FACEBOOK_APP_ID=
FACEBOOK_APP_SECRET=

GOOGLE_CLIENT_ID=299982372824-0pel36lcpt72f81ro6d9f5902kdbqcbd.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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

APPLE_APP_AUDIENCE=[]

TWITTER_CONSUMER_KEY=
TWITTER_CONSUMER_SECRET=

WORKER_HOST=redis://redis:6379/1

STRIPE_SECRET_KEY=sk_test_51N2LMgBs9zGaVmND4qXR265XTq03yCLSHYB63BZfYPSUSNsSX815PHKbMrPqcpLyI8T491y6sqGsjhoIWphr0IFS00lKmoT7co
STRIPE_CURRENCY=usd
STRIPE_WEBHOOK_SECRET=whsec_6bc5e3331bcdda65c2086242c9f434cf5f83acaac7080af84dcb74cb0a1693df